@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

:root {
  --primary: #c9a4ffcc;
  --black: #0d0c11;
  --white: #f5f4fa;
  --grey: #c9c4d1;
  --offset: #1c499c;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--black);
  position: relative;
  color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

h2 {
  font-weight: 400;
  font-size: 1.8rem;
}

p,
a,
span,
button {
  font-family: "Nunito", sans-serif;
  font-size: 1.4rem;
}

.logo {
  font-family: "Audiowide", cursive;
}

button {
  background-color: var(--primary);
  color: var(--black);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
}

button:hover {
  opacity: 0.8;
}

button:disabled {
  opacity: 0.4;
}

@media screen and (min-width: 600px) {
  h2 {
    font-size: 2.2rem;
  }

  p,
  a,
  span,
  button {
    font-size: 1.8rem;
  }
}
